@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
section{
  position:relative;
  width:100%;
  min-height:100vh;
  padding:10px;
  display:flex;
  justify-content: space-between;
  background-color:#00308F;
  align-items:center;
  transition:0.5s;
}
header{
  position:absolute;
  top:0;
  left:0;
  width: 70%;
  padding: 20px 100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.content{
  position:relative;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-left:50px;
}
.logo{
  width:70px;
  height: 60px;
}
ul{
  margin-left: 70%;
}
ul ,li a{
  padding:10px;
  color:white;
  list-style-type:none;
  text-decoration:none;
  display:flex; 
}
ul li a:hover{
  background-color: white;
  color:#00308F;
  border-radius: 12px;

}
 .content .textbox  h2{
  font-size: 4rem;
  color: white;
  font-weight:600;
  margin-left:10px;
}
.content .textbox{
  position:relative;
  max-width: 600px;
}
.content .imgbox{
  margin-right:150px;
  margin-top:80px;
}
p{
  color:white;
  margin-top:0;
}
.textbox a{
  color:white;
  text-decoration:none;
}
.textbox a:hover{
  border: 1px solid white;
  padding: 2px;
}
span{
  font-weight:1000;
  font-family:Arial;
  font-size:6rem
}
